# Database provider and connection
DB_PROVIDER=sqlite
DATABASE_URL="file:./prisma/dev.db"

# Authentication
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# File uploads
FILE_STORAGE_ROOT=./uploads

# When deploying to production, set DB_PROVIDER=postgresql and provide a postgres URL